/*Battle*/#battle_buttons{
	position: absolute;
   top: 225px;
   left: 95px;
   text-align: left;
   width: 100%;
}
/*Battle*/#level_g{
	position: relative;
   top: 295px;
   left: 95px;
   text-align: left;
   width: 100%;
}
/*Battle*/#battle_log{
	position: relative;
   top: 315px;
   left: 95px;
   text-align: left;
   width: 100%;
}
/*Battle*/#next_Phase_button{
	position: absolute;
   top: 315px;
   left: 395px;
   text-align: left;
}
/*Profile*/#battle_frame{
	position: absolute;
   top: 15px;
   left: 295px;
   text-align: left;
}
/*Battle*/#player_info{
	position: absolute;
   top: 15px;
   left: 95px;
   text-align: left;
}
/*Battle*/#player_health_bar{
	position: absolute;
   top: 155px;
   left: 95px;
   text-align: center;
}
/*Battle*/#player_stamina_bar{
	position: absolute;
   top: 175px;
   left: 95px;
   text-align: center;
}
/*Battle*/#player_mana_bar{
	position: absolute;
   top: 195px;
   left: 95px;
   text-align: center;
}
/*Battle*/#enemy1{
	position: absolute;
   top: 5px;
   left: 510px;
   text-align: center;
}
/*Battle*/#enemy1_info{
	position: absolute;
   top: 15px;
   left: 510px;
   text-align: center;
}
/*Battle*/#enemy1_health_bar{
	position: absolute;
   top: 160px;
   left: 465px;
   text-align: center;
}
/*Battle*/#enemy2{
	position: absolute;
   top: 250px;
   left: 510px;
   text-align: center;
}
/*Battle*/#enemy2_info{
	position: absolute;
   top: 260px;
   left: 510px;
   text-align: center;
}
/*Battle*/#enemy2_health_bar{
	position: absolute;
   top: 410px;
   left: 465px;
   text-align: center;
}
#greece{
	position: absolute;
	top: 172px;
	left: 115px;
}
#china{
	position: absolute;
	top: 610px;
	left: 80px;
}
#egypt{
	position: absolute;
	top: 587px;
	left: 570px;
}
#japan{
	position: absolute;
	top: 250px;
	left: 440px;
}
#scandinavia{
	position: absolute;
	top: 120px;
	left: 640px;
}
#sea_map{
	position: absolute;
	top: 0px;
	left: 0px;
}
#otherland{
	position: absolute;
	top: 0px;
	left: 0px;
}
#moving_player {
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('default_avatar.gif');
  background-size: 25px 25px;
}
#tooltip_greece{
	position: absolute;
    top: 286px;
	left: 260px;
}
#tooltip_japan{
	position: absolute;
    top: 350px;
	left: 600px;
}
#tooltip_china{
	position: absolute;
    top: 650px;
	left: 280px;
}
#tooltip_egypt{
	position: absolute;
    top: 667px;
	left: 770px;
}
#tooltip_scandinavia{
	position: absolute;
	top: 220px;
	left: 790px;
}
body{
	background-color: #FF99CC;
}
.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
	top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
div#load_screen{
	background: #000;
	opacity: 1;
	position: fixed;
    z-index:10;
	top: 0px;
	width: 100%;
	height: 1600px;
}
div#load_screen > div#loading{
	color:#FFF;
	width:120px;
	height:24px;
	margin: 300px auto;
}
